.header {
    position: relative;
    margin: 0 auto;
  }
  
  nav {
    position: relative;
  }
  
  .search-input {
    margin-left: 10px;
    width: 0;
    height: 40px;
    padding: 0 40px 0 20px; /* Padding adjusted for the icon */
    border-radius: 20px;
    border: 2px solid #fff;
    background:transparent;
    color: #333;
    font-size: 0.9rem;
    transition: width 0.3s ease-in-out;
    opacity: 0;
    outline: none;
  }
  
  .search-input.open {
    width: 280px; /* Adjust width as needed */
    opacity: 1;
  }
  
  .search-input:focus {
    width: 280px;
    opacity: 1;
    outline: none;
  }
  
  .search-input::placeholder {
    color: #333;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Position inside the input */
    transform: translateY(-50%);
    cursor: pointer;
  }
  .section__container.header__container p.font-paytoneone {
    font-size: 12vw; /* Responsive font size based on viewport width */
    max-width: 100%;
    text-align: center;
    margin: 0; /* Ensure no extra margin */
    padding: 0 1rem; /* Add some padding if needed */
  }
  
  @media (max-width: 768px) {
    .section__container.header__container p.font-paytoneone {
      font-size: 15vw; /* Adjust for smaller screens */
      padding: 0 0.5rem; /* Adjust padding for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .section__container.header__container p.font-paytoneone {
      font-size: 25vw; /* Further adjust for very small screens */
      padding: 0 0.25rem; /* Adjust padding for very small screens */
    }
  }
  .box {
    --mask:
      radial-gradient(51.82px at 50% 73.1px, #000 99%, #0000 101%) calc(50% - 68px) 0/136px 51% repeat-x,
      radial-gradient(51.82px at 50% -39.1px, #0000 99%, #000 101%) 50% 34px/136px calc(51% - 34px) repeat-x,
      radial-gradient(51.82px at 50% calc(100% - 73.1px), #000 99%, #0000 101%) 50% 100%/136px 51% repeat-x,
      radial-gradient(51.82px at 50% calc(100% + 39.1px), #0000 99%, #000 101%) calc(50% - 68px) calc(100% - 34px)/136px calc(51% - 34px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    height: 350px; /* Ensure the height is set */
    background: white; /* Ensure a background color is set */
    filter: blur(25px);
    opacity: 0.4;
  }
  

  